{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konga | Home Page</title>
    <link rel="stylesheet" href="{% static 'Store/main.css' %}">
</head>
<body>
    <h1>Welcome to the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto temporibus, similique magni ullam minima iusto doloribus, mollitia molestiae eaque, voluptatem alias! Nam numquam labore voluptatem eius laboriosam aperiam! Aspernatur, incidunt!</p>
</body>
</html>